In [53]:
#Q1 HOW DO YOU COMMENT IN PYYHON? WHAT ARE THE DIFFERENT TYPES OF COMMENTS?

In [54]:
#ANS:  WE comment in python by the symbol of hash(#)
#1. If we use hash(#) while starting the coding then it will take as comment
#2 .There are three types of comments: i)single-line. ii)multi-line iii) docstring
#i).SINGLE-LINE COMMENTS: Single-line cooments begin with (#) character. Anything which is written in a single line after(#) is considered as comment
    # there are two ways of using single-line comment in Python. we can use it before or after the code ...e.g:
    # l=[1,2,3,4,5]
    for i in l :
        print(i)     # this will show as error because we have used hash in the starting

IndentationError: unexpected indent (3752477833.py, line 7)

In [55]:
# second example :
l=["mustaqeem","siddiqui",523,True]
for i in l:
    print(i) # this does not showing error because we didn't write while first coding line

mustaqeem
siddiqui
523
True

In [56]:
#ii).MULTI-LINE COMMENTS: python does not supperts multi line comments.however ,there are multiple ways to overcome 
# this issue .None of these ways ar technically multi-line comments ,but we can use them as one .
# the first way is by using # at the begining of each line of the comment
# e.g:
#1).we can use the multi line comments 
   # in this way by
   # including the comment character 
   # at the begining of each line
#the next way is by using strings literals but not assigning them into any variables.if you do not assign a string
# literal to a variable ,the python interpreter ignores it . we will use it for our advantage to write multi-line comments.
# we can either use a single ('') quotation or double (" ") quotation.
# e.g this is a comment 
print("this is a single line comment")
'this is a string literal ,which is not assigned to any variable'

this is a single line comment

'this is a string literal ,which is not assigned to any variable'

In [57]:
# we can also use multi-line strings commenting.to do this,use either a '' or "" quotation marks three times
""" this is a multi-line comment with the use of multi-line strings """

' this is a multi-line comment with the use of multi-line strings '

In [58]:
#iii).PYTHON DOCSTRINGS: Python provides an in built feature called docstrings for commenting on module,methods, function
    #, object and classes.they are written in the first line after defining a module.function,method,etc,
    #using three quotation marks('' or"") .if we do not use it in first line ,the enterpreter will not take it as 
    #docstring ,we can also excess docstrings using the__doc_attribute.

In [23]:
#Q2.WHAT ARE THE VARIABLES IN PYTHON ? HOW DO YOU DECLARE AND ASSIGN VALUES TO VARIABLES?

In [25]:
#ans. A VARIABLE is a string of characters and numbers associated with a piece of information.
# the assignment operator , denoted by the symbol (=) is the operator that is used to assign values to variable sin python
# e.g: the line s="mustaqeem" takes the known value  "mustaqeem" and assigns that value to the variable with name "s"

In [26]:
s="mustaqeem"

In [27]:
s

'mustaqeem'

In [28]:
#Q3. HOW DO YOU CONVERT ONE DATA TYPE TO ANOTHER IN PYTHON?

In [29]:
# ANS..To convert between data types , we simply use the type name as a function.
# there are several  built-in function to perform conversion from one data type to  another

In [33]:
 k=9

In [35]:
float(k)

9.0

In [36]:
type(k)

int

In [37]:
type(float(k))

float

In [38]:
#Q4. HOW DO YOU WRITE AND EXECUTE A PYTHON SCRIPT FROM THE COMMAND LINE?

In [1]:
#The easiest way to run a python script is by using the python command .we need to open a command line and type the 
 # word python followed by the path to our script file like this : python first_script.py Hello World!Then we will hit the "enter" button from our keyboard.

In [1]:
#Q5.GIVEN A LIST my_list=[1,2,3,4,5],write the code to slice the list and obtain the suub-list[2,3]

In [2]:
#ans:
my_list=[1,2,3,4,5]

In [5]:
my_list[1:3]

[2, 3]

In [14]:
#Q6.WHAT IS COMPLEX NUMBER IN MATHEMATICS,AND HOW IS IT REPRESENTED IN PYTHON?

In [8]:
#ANS: complex number is the addition of real and imginary number  and in MATHEMATICS it is represented in a+ib
     # In PYTHON it is represented by a+jb form .If we code complex number in mathematical form it will show error
     #e.g:

In [12]:
b=2+6i

SyntaxError: invalid decimal literal (2138890166.py, line 1)

In [10]:
a=5+6j

In [11]:
a

(5+6j)

In [13]:
type(a)

complex

In [15]:
#Q7.What is the correct way to declare a variable named age and assign the value 25 to it?

In [19]:
#ans:age should be in integer form
age=25

In [20]:
age

25

In [24]:
type(age)

int

In [25]:
#Q8. Declare a variable named price and assign the value 9.99 to it.What data type does this variable belongs to?

In [26]:
#ans: This variable will belongs to float data type .because .99 is floatinng point numbes

In [27]:
price=9.99

In [28]:
type(price)

float

In [29]:
#Q9.Create a variable named name and assign your full name to it as a string .How would you print the value of this variable ?

In [36]:
#ans: we will code as it has given then i will call out the variable then it will print my name or i will call print(name)
name="Mustaqeem Siddiqui"

In [37]:
name

'Mustaqeem Siddiqui'

In [38]:
print(name)

Mustaqeem Siddiqui

In [39]:
type(print(name))

Mustaqeem Siddiqui

NoneType

In [40]:
type(name)

str

In [41]:
#Q10.Given the string "Hello World",abstract the substring World""

In [43]:
# ans:
d="Hello World!"

In [44]:
d[6:11]

'World'

In [45]:
type(d[6:11])

str

In [46]:
#Q11.Create a variable named "is_student"and assign it a boolean value indicating whether you are currently student or not.

In [51]:
#ans:
is_student={True:"i am currently a student"}

In [52]:
is_student[1]

'i am currently a student'